@media(max-width: 768px) {
    header #company-logo,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    #company-logo h1 {
        margin-top: 40px;
    }

    #newsletter button {
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"] {
        width: 100%;
        margin-bottom: 5px;
    }
}